/* Global */
* {
    box-sizing: border-box;
    margin: 0;
    padding: 0;
  }
  
  body {
    font-family: "Oswald", sans-serif;
    background-color: #000000;
    background-image: url("data:image/svg+xml,%3Csvg width='20' height='20' viewBox='0 0 20 20' xmlns='http://www.w3.org/2000/svg'%3E%3Cpath d='M0 0h20L0 20z' fill='%239C92AC' fill-opacity='0.31' fill-rule='evenodd'/%3E%3C/svg%3E");
    color: #1e272e;
    color: #fff;
    font-size: 16px;
  }
  
  a {
    color: #ffffff;
    text-decoration: none;
  }
  
  ul {
    list-style: none;
  }
  
  .container {
    width: 90%;
    margin: auto;
  }
  
  /* Menú de navegación de arriba  */
  .nav-main {
    font-size: 17px;
    display: flex;
    justify-content: space-between;
    align-items: center;
    height: 60px;
    padding: 20px 0;
  }
  
  .nav-brand {/* Foto logo izquierda arriba  */
    width: 50px;
  }
  
  
  .nav-main ul {/* se pone uno al lado del otro */
    display: flex;
  }
  
  .nav-main ul li {/*Espacio entre ellos*/
    padding: 10px;
  }
  
  .nav-main ul li a {/*espacio del boton para abajo*/
    padding: 2px;
  }
  
  .nav-main ul li a:hover {/*Boton para que aparezca al clicar en el menu*/
    border-bottom: 2px solid #fff;
  }
  
  .nav-main ul.nav-menu {/*Para ponerlo al lado y dejarle margen*/
    flex: 1;
    margin-left: 20px;
  }
  
  hr {
    margin: 10px 0;
  }
  
  /* Responsive Button */
  .menu-btn {
    cursor: pointer;
    position: absolute;
    top: 15px;
    right: 30px;
    z-index: 2;
    display: none;
  }
  
  /* SHOWCASE , texto de la primera foto*/
  
  .btn {
    cursor: pointer;
    display: inline-block;
    border: 0;
    font-weight: bold;
    padding: 10px 20px;
    background: #262626;
    color: #fff;
    font-size: 15px;
    border: 1px solid #fff;
  }
  
  .btn:hover {
    opacity: 0.9;
  }
  
  .showcase {
    width: 100%;
    height: 550px;
    background: url("./img/fondo1.jpg") no-repeat center center/cover;
    display: flex;
    flex-direction: column;
    align-items: center;
    text-align: center;
    justify-content: flex-end;
    padding-bottom: 50px;
    margin-bottom: 20px;
    color: #fff;
  }
  
  .showcase h2,
  .showcase p {
    margin-bottom: 10px;
  }
  
  .showcase .btn {
    margin-top: 20px;
  }
  
  /* News Cards, 4 primeras noticias */
  .news-cards {
    display: grid;
    grid-template-columns: repeat(4, 1fr);
    gap: 25px;
    margin: 70px 0;
  }
  
  .news-cards img {
    width: 100%;
    height: 180px;
  }
  
  .news-cards h3 {
    font-size: 20px;
    margin: 10px 0;
  }
  
  .news-cards a {
    padding: 10px 0;
    color: #f2f2f2;
    text-transform: uppercase;
    display: inline-block;
    font-weight: bold;
  }
  
    /* CARDS BANNER ONE */
  .cards-banner-one {
    width: 100%;
    height: 350px;
    background: url("./img/banner1.jpg");
    margin-bottom: 40px;
  }
  
  .cards-banner-one .content {
    width: 40%;
    padding: 90px 0 0 30px;
    color: #fff;
  }
  
  .cards-banner-one p,
  .cards-banner-two p {
    margin: 10px 0 20px 0;
  }
  
  /* CARDS BANNER TWO*/
  .cards-banner-two {
    width: 100%;
    height: 350px;
    background: url("./img/banner2.jpg") no-repeat center center/cover;
  }
  
  .cards-banner-two .content {
    width: 50%;
    padding: 100px 0 0 30px;
  }
  
   /* Follow */
  .social {
    margin: 50px;
  }
  .social p {
    text-align: center;
    font-size: 30px;
    margin-bottom: 20px;
  }
  .links {
    display: flex;
    align-items: center;
    justify-content: center;
  }
  
  .links a {
    margin: 0 30px;
  }
  
  .links a i {
    font-size: 3rem;
  }